.App {
  text-align: center;
  background-color: #fff;
  color: #fff;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.h1{
  margin: 0vh;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 14pt;
  height: 90vh;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  color: black;
  font-size: 80px;
  margin: 10px;
}

.btn{
  background-color: rgb(66, 66, 238);
  color: white;
  padding: 5px;
  margin: 5px;
}

/* .main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14pt;
} */

/* .movie {
  color: black;
  background-color: rgb(219, 212, 212);
  border: 1px solid gray;
  padding: 3pt;
  font-weight: bold;
  text-align: start;
  width: 22%;
  margin-top: 14pt;
  font-size: medium;
} */

.movie img {
  max-width: 100%;
  height: 220pt;
}

img{
  width: 100%;
}

/* .img{
  align-items: center;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* .HeaderStyle{
  color: rgba(23, 180, 219, 0.603);
}

.FooterStyle{
  color: rgba(219, 23, 154, 0.603);
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
